@use '../../src/styles/variables' as *;
@use "sass:color";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-md $spacing-lg;
  background-color: $color-background-card;
  border-bottom: 1px solid $color-border;
  box-shadow: $box-shadow-sm;
  position: sticky;
  top: 0;
  z-index: 999;

  .searchBar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 400px;
    margin-right: $spacing-lg;

    .searchIcon {
      color: $color-text-light;
      margin-right: $spacing-sm;
    }

    .searchInput {
      flex-grow: 1;
      margin-bottom: 0 !important;
      .input {
        border: none;
        background-color: color.adjust($color-background-light, $lightness: 2%);
        &:focus {
          box-shadow: none;
        }
      }
    }
  }

  .userSection {
    display: flex;
    align-items: center;

    .icon {
      color: $color-text-light;
      margin-right: $spacing-lg;
      cursor: pointer;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: $color-primary;
      }
    }

    .userProfile {
      display: flex;
      align-items: center;

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: $color-primary;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        margin-right: $spacing-sm;
      }

      .userInfo {
        display: flex;
        flex-direction: column;

        .userName {
          font-weight: 600;
          color: $color-text-dark;
        }

        .userRole {
          font-size: $font-size-sm;
          color: $color-text-light;
        }
      }
    }
  }

  @media (max-width: $breakpoint-md) {
    padding: $spacing-md;
    .searchBar {
      max-width: 200px;
      margin-right: $spacing-md;
      .searchInput {
        .input {
          padding: $spacing-sm;
        }
      }
    }

    .userSection {
      .icon {
        margin-right: $spacing-md;
      }
      .userInfo {
        display: none;
      }
    }
  }

  @media (max-width: $breakpoint-sm) {
    .searchBar {
      display: none;
    }
  }
}
